<section class="blog">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="blog-heading">
                    <p class="blog-heading__title">Faydalı Bilgiler</p>
                    <p class="blog-heading__innertitle">Diğer Blog Yazıları</p>
                </div>
            </div>
            <div class="col-12">
                <div class="blog-slider js-blogdetail-slider">
                    <div>
                        <a href="/blog-detail-4.html">
                            <div class="blog-slider__item">
                                <img src="/dist/media/img/slider/blog/blogimg2.png" alt="Blog Image" class="img-fluid">
                                <div class="blog-slider__texts">
                                    <h1>Cevizin Sağlığa Faydaları</h1>
                                    <p>Genel anlamda cevizin iki çeşit hastalığı önemli ölçüde engelleyici özelliğinin
                                        olduğunu
                                        söyleyebiliriz. Bunlardan
                                        birincisi kalp ve damar hastalıklarıdır. Uzmanlar, bütün öğünlerden sonra bir
                                        miktar
                                        ceviz
                                        yenilmesinin damarların
                                        tıkanmasına neden olan yağlı besinlerin verebileceği zararlara engel olduğunu
                                        söylüyorlar. Ayrıca
                                        yapılan araştırmalar</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="/blog-detail-1.html">
                            <div class="blog-slider__item">
                                <img src="/dist/media/img/blog/blogimg4.png" alt="Blog Image" class="img-fluid">
                                <div class="blog-slider__texts">
                                    <h1>Chandler ve Fernor arasındaki farklar</h1>
                                    <p>Chandler: Meyvesi ince kabuklu, iç rengi beyaz, randımanı %47-50 olan dünyada en
                                        çok
                                        üretilen ve
                                        Pazar payı en yüksek
                                        olan ceviz çeşitidir. Ağaç olarak orta geç uyanan bir çeşit olup, yan dal verimi
                                        yüksektir.
                                        Tozlayıcıları Franquette,
                                        Fernette ve Cisco’dur.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="/blog-detail-2.html">
                            <div class="blog-slider__item">
                                <img src="/dist/media/img/slider/blog/blogimg.png" alt="Blog Image" class="img-fluid">
                                <div class="blog-slider__texts">
                                    <h1>Cevizin Uygun Saklama Koşulları</h1>
                                    <p>Kabuklu cevizinizi dolabınızın derin dondurucu bölümünde -18 derece ‘de 48 saat
                                        bekletirseniz, cevizinizi pastörize
                                        işlemi yapmış olursunuz. Bu sayede ceviziniz güvelenmez ve tazeleğini korumuş
                                        olursunuz.
                                        Sonrasında oda koşullarında
                                        serin ve kuru bir yerde minimum 6 ay boyunca muhafaza edebilirsiniz.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-12 d-flex justify-content-center align-items-center">
                <a href="#" class="btn-all">Tümünü Gör</a>
            </div>
        </div>
    </div>
</section>