<section class="blog">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="blog-heading">
                    <p class="blog-heading__title">Faydalı Bilgiler</p>
                    <p class="blog-heading__innertitle">Diğer Blog Yazıları</p>
                </div>
            </div>
            <div class="col-12">
                <div class="blog-slider js-blog-slider">
                    <div>
                        <div class="blog-slider__item">
                            <img src="/dist/media/img/slider/product/productsliderimg.png" alt="Blog Image"
                                class="img-fluid">
                            <div class="blog-slider__texts">
                                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                    amet
                                    lectus nullam neque neque. Nisi, nisl tempus elementum</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="blog-slider__item">
                            <img src="/dist/media/img/slider/product/productsliderimg.png" alt="Blog Image"
                                class="img-fluid">
                            <div class="blog-slider__texts">
                                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                    amet
                                    lectus nullam neque
                                    neque. Nisi,
                                    nisl tempus elementum</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="blog-slider__item">
                            <img src="/dist/media/img/slider/product/productsliderimg.png" alt="Blog Image"
                                class="img-fluid">
                            <div class="blog-slider__texts">
                                <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                    amet
                                    lectus nullam nequeneque. Nisi,nisl tempus elementum</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 d-flex justify-content-center align-items-center">
                <a href="#" class="btn-all">Tümünü Gör</a>
            </div>
        </div>
    </div>
</section>