<section class="pic">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="pic-slider js-pic-slider">

                    <div>
                        <div class="pic-slider__item">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="/dist/media/img/slider/pic/picdesktopimg3.png">
                                <img src="/dist/media/img/slider/pic/picmobileimg3.png" alt="Pic Banner"
                                    class="img-fluid w-100 pic__slider__item--img">
                            </picture>
                            <div class="pic-slider__random">
                                <p class="pic-slider__random-text">
                                    Bursa Yenişehir ovasındaki ilk kapama ceviz bahçesi
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="pic-slider__item">
                            <div class="video-container">
                                <video src="/dist/media/img/slider/pic/video2.mp4" type="video/mp4" class="video"
                                    id="video" muted autoplay loop>
                                </video>
                            </div>

                            <div class="pic-slider__random">
                                <p class="pic-slider__random-text">
                                    1600 dekar alanda 30.000 ağaç
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="pic-slider__item">
                            <div class="video-container">
                                <video src="/dist/media/img/slider/pic/video3.mp4" type="video/mp4" class="video"
                                    id="video" muted autoplay loop>
                                </video>
                            </div>

                            <div class="pic-slider__random">
                                <p class="pic-slider__random-text">
                                    Türkiye’de ilk defa yapılan tamamı mekanik ve el değmeden yapılan hasat
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="pic-slider__item">
                            <div class="video-container">
                                <video src="/dist/media/img/slider/pic/video4.mp4" type="video/mp4" class="video"
                                    id="video" muted autoplay loop>
                                </video>
                            </div>

                            <div class="pic-slider__random">
                                <p class="pic-slider__random-text">
                                    Hasat sonrası cevizin tazeliğini korumak için nemin kurutma tesisinde ılık havayla
                                    zaman geçirmeksizin %8’e indirilmesi
                                    ve bu sayede alfa toksin riskinin sıfıra indirilmesi
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="pic-slider__item">
                            <div class="video-container">
                                <video src="/dist/media/img/slider/pic/video5.mp4" type="video/mp4" class="video"
                                    id="video" muted autoplay loop>
                                </video>
                            </div>

                            <div class="pic-slider__random">
                                <p class="pic-slider__random-text">
                                    Kurutma sonrasında cevizlerin boylara ayrılması ve her bir partinin kalite
                                    kontrolünün yapılması
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div>
                        <div class="pic-slider__item">
                            <div class="video-container">
                                <video src="/dist/media/img/slider/pic/dronevideo.m4v" type="video/m4v" class="video"
                                    id="video" muted autoplay controls>
                                </video>
                            </div>

                            <div class="pic-slider__random">
                                <h2 class="pic-slider__random-title">El Değmeden,</h2>
                                <h3 class="pic-slider__random-innertitle">Bahçeden Sofranıza</h3>
                                <p class="pic-slider__random-text">
                                    Türkiye’ de ilk olarak Mekanik Hasat yaparak, el değmeden üretim yapan firma.
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div>
                        <div class="pic-slider__item" data-slide="2" id="next-slide">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="/dist/media/img/slider/pic/picdesktopimg2.png">
                                <img src="/dist/media/img/slider/pic/picmobileimg2.png" alt="Pic Banner"
                                    class="img-fluid w-100 pic__slider__item--img">
                            </picture>
                            <div class="pic-slider__random">
                                <h2 class="pic-slider__random-title">El Değmeden,</h2>
                                <h3 class="pic-slider__random-innertitle">Bahçeden Sofranıza</h3>
                                <p class="pic-slider__random-text">
                                    Türkiye’ de ilk olarak Mekanik Hasat yaparak, el değmeden üretim yapan firma.
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div>
                        <div class="pic-slider__item">
                            <picture>
                                <source media="(min-width: 768px)"
                                    srcset="/dist/media/img/slider/pic/picdesktopimg.png">
                                <img src="/dist/media/img/slider/pic/picmobileimg.png" alt="Pic Banner"
                                    class="img-fluid w-100 pic__slider__item--img">
                            </picture>
                            <div class="pic-slider__random">
                                <h2 class="pic-slider__random-title">El Değmeden,</h2>
                                <h3 class="pic-slider__random-innertitle">Bahçeden Sofranıza</h3>
                                <p class="pic-slider__random-text">
                                    Türkiye’ de ilk olarak Mekanik Hasat yaparak, el değmeden üretim yapan firma.
                                </p>
                                <div class="pic-slider__random-logos">
                                    <img src="/dist/media/img/slider/pic/turkey.png" alt="Turkey"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/ıyıtarım.png" alt="İyi Tarım"
                                        class="img-fluid mr-4">
                                    <img src="/dist/media/img/slider/pic/dernek.png" alt="Dernek" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <a href="/production.html" class="discover-link js-discover-link">
        <svg width="7" height="15" viewBox="0 0 7 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.97529 13.3672L6.18863 11.1401C6.37424 10.9533 6.67518 10.9533 6.86079 11.1401C7.0464 11.3268 7.0464 11.6296 6.86079 11.8164L3.83608 14.8599C3.65047 15.0467 3.34953 15.0467 3.16392 14.8599L0.139208 11.8164C-0.0464028 11.6296 -0.0464028 11.3268 0.139208 11.1401C0.32482 10.9533 0.625755 10.9533 0.811367 11.1401L3.02471 13.3672L3.97529 13.3672Z"
                fill="white" />
            <path d="M3 14V0H4V14L3 14Z" fill="white" />
        </svg>
    </a>
</section>