<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>May Ceviz</title>

<link type="text/css" rel="stylesheet" href="@@webRoot/dist/css/app.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="shortcut icon" href="/dist/media/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/dist/media/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/dist/media/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/dist/media/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/dist/media/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/dist/media/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/dist/media/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/dist/media/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/dist/media/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/dist/media/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="36x36" href="/dist/media/favicon/android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="72x72" href="/dist/media/favicon/android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/dist/media/favicon/android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/dist/media/favicon/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/dist/media/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/dist/media/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/dist/media/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/dist/media/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">