<section class="whyus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="whyus-heading">
                    <h2 class="whyus-heading__title">
                        Neden Biz?
                    </h2>
                    <h4 class="whyus-heading__innertitle">
                        Sürdürülebilir Tarım
                    </h4>
                    <p class="whyus-heading__text">
                        Bursa Yenişehir Çardak mahallesinde yaklaşık olarak 1.600 dekar alanda üretim yapılmaktadır ve
                        üretim yapılan alanda
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="whyus-info__arrow">
                                <div class="whyus-info">
                                    <div class="whyus-info__wrapper">
                                        <img src="/dist/media/img/whyus/tree.png" alt=""
                                            class="img-fluid whyus-info__image">
                                        <img src="/dist/media/img/whyus/whitetree.png" alt=""
                                            class="img-fluid whyus-info__whiteimage">
                                        <img src="/dist/media/img/whyus/wavyarrow.png" alt=""
                                            class="img-fluid whyus-info__wavyarrow">
                                    </div>
                                    <h4>
                                        Sürdürülebilir Tarım
                                    </h4>
                                    <p>
                                        Bursa Yenişehir Çardak mahallesinde yaklaşık olarak 1.600 dekar alanda üretim
                                        yapılmaktadır ve
                                        üretim yapılan alanda
                                    </p>
                                </div>
                                <img src="/dist/media/img/whyus/circulardown.png" alt=""
                                    class="img-fluid whyus-info__circular">
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="whyus-info__arrow">
                                <div class="whyus-info">
                                    <div class="whyus-info__wrapper">
                                        <img src="/dist/media/img/whyus/tree.png" alt=""
                                            class="img-fluid whyus-info__image">
                                        <img src="/dist/media/img/whyus/whitetree.png" alt=""
                                            class="img-fluid whyus-info__whiteimage">
                                        <img src="/dist/media/img/whyus/wavyarrow.png" alt=""
                                            class="img-fluid whyus-info__wavyarrow">
                                    </div>
                                    <h4>
                                        Cevizler
                                    </h4>
                                    <p>
                                        Bursa Yenişehir Çardak mahallesinde yaklaşık olarak 1.600 dekar alanda üretim
                                        yapılmaktadır ve
                                        üretim yapılan alanda
                                    </p>
                                </div>
                                <img src="/dist/media/img/whyus/circulardown2.png" alt=""
                                    class="img-fluid whyus-info__circular">
                            </div>


                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="whyus-info">
                                <div class="whyus-info__wrapper">
                                    <img src="/dist/media/img/whyus/nut.png" alt="" class="img-fluid whyus-info__image">
                                    <img src="/dist/media/img/whyus/nutwhite.png" alt=""
                                        class="img-fluid whyus-info__whiteimage">
                                </div>
                                <h4>
                                    Taze Hasat
                                </h4>
                                <p>
                                    Bursa Yenişehir Çardak mahallesinde yaklaşık olarak 1.600 dekar alanda üretim
                                    yapılmaktadır ve
                                    üretim yapılan alanda
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>