<section class="user-info">
    <div class="container">
        <div class="user-info__wrapper">
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-4 d-none d-lg-block">
                    <div class="profile-menu">
                        <h2 class="profile-menu__title">Hesabım</h2>
                        <ul class="profile-menu__list">
                            <li class="profile-menu__item">
                                <a href="#" class="profile-menu__link">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 2.5V6.66667" stroke="#667085" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M5.83301 14.1665H7.49967" stroke="#667085" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M17.5 8.33317C17.5 7.89114 17.3244 7.46722 17.0118 7.15466C16.6993 6.8421 16.2754 6.6665 15.8333 6.6665H4.16667C3.72464 6.6665 3.30072 6.8421 2.98816 7.15466C2.67559 7.46722 2.5 7.89114 2.5 8.33317"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M15.8333 17.5H4.375C3.87772 17.5 3.40081 17.3025 3.04917 16.9508C2.69754 16.5992 2.5 16.1223 2.5 15.625V7.08333C2.5 6.63333 2.59167 6.1875 2.76833 5.775L3.68 3.63833C3.82422 3.30051 4.06452 3.01251 4.37106 2.81013C4.6776 2.60775 5.03685 2.4999 5.40417 2.5H14.595C15.3458 2.5 16.0242 2.9475 16.3192 3.63833L17.2358 5.77417C17.4108 6.18833 17.5017 6.63333 17.5 7.08333V15.8333C17.5 16.2754 17.3244 16.6993 17.0118 17.0118C16.6993 17.3244 16.2754 17.5 15.8333 17.5Z"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                        Siparişlerim
                                    </div>

                                </a>
                            </li>
                            <!-- <li class="profile-menu__item">
                                <a href="#" class="profile-menu__link">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.58203 4.16925H4.07379C3.65639 4.16925 3.25609 4.33506 2.96095 4.6302C2.66581 4.92534 2.5 5.32564 2.5 5.74304V16.7595C2.5 17.1769 2.66581 17.5772 2.96095 17.8724C3.25609 18.1675 3.65639 18.3333 4.07379 18.3333H15.0903C15.5077 18.3333 15.908 18.1675 16.2031 17.8724C16.4983 17.5772 16.6641 17.1769 16.6641 16.7595V11.2513M15.4837 2.98891C15.7968 2.67587 16.2214 2.5 16.6641 2.5C17.1068 2.5 17.5314 2.67587 17.8444 2.98891C18.1575 3.30196 18.3333 3.72654 18.3333 4.16925C18.3333 4.61196 18.1575 5.03654 17.8444 5.34959L10.3689 12.8251L7.22136 13.612L8.00825 10.4644L15.4837 2.98891Z"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                        Taleplerim
                                    </div>
                                </a>
                            </li> -->

                            <li class="profile-menu__item">
                                <a href="#" class="profile-menu__link">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.5 8.3335C17.5 14.1668 10 19.1668 10 19.1668C10 19.1668 2.5 14.1668 2.5 8.3335C2.5 6.34437 3.29018 4.43672 4.6967 3.03019C6.10322 1.62367 8.01088 0.833496 10 0.833496C11.9891 0.833496 13.8968 1.62367 15.3033 3.03019C16.7098 4.43672 17.5 6.34437 17.5 8.3335Z"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M10 10.8335C11.3807 10.8335 12.5 9.71421 12.5 8.3335C12.5 6.95278 11.3807 5.8335 10 5.8335C8.61929 5.8335 7.5 6.95278 7.5 8.3335C7.5 9.71421 8.61929 10.8335 10 10.8335Z"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>

                                        Adreslerim
                                    </div>
                                </a>
                            </li>

                            <li class="profile-menu__item active">
                                <a href="#" class="profile-menu__link">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11 13.25H7.625C6.13316 13.25 4.70242 13.8426 3.64752 14.8975C2.59263 15.9524 2 17.3832 2 18.875H8.75M13.25 5.9375C13.25 8.11212 11.4871 9.875 9.3125 9.875C7.13788 9.875 5.375 8.11212 5.375 5.9375C5.375 3.76288 7.13788 2 9.3125 2C11.4871 2 13.25 3.76288 13.25 5.9375ZM13.8125 18.3125L11 18.875L11.5625 16.0625L16.625 11L18.875 13.25L13.8125 18.3125Z"
                                                stroke="#848484" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>

                                        Kullanıcı Bilgilerim
                                    </div>
                                </a>
                            </li>

                            <li class="profile-menu__item">
                                <a href="#" class="profile-menu__link ">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2129_7132)">
                                                <path
                                                    d="M14.8439 1.59375L7.59067 8.81019C6.50844 8.52017 5.36076 8.59536 4.32562 9.0241C3.29048 9.45284 2.42574 10.2112 1.86552 11.1815C1.3053 12.1518 1.0809 13.2798 1.22714 14.3906C1.37337 15.5015 1.88207 16.533 2.67432 17.3253C3.46657 18.1175 4.49811 18.6262 5.60893 18.7724C6.71976 18.9187 7.84781 18.6943 8.81811 18.1341C9.7884 17.5738 10.5467 16.7091 10.9755 15.674C11.4042 14.6388 11.4794 13.4911 11.1894 12.4089L12.4689 11.0938V8.71875H14.8439V6.34375H16.6252L18.4064 4.5625V1.59375H14.8439Z"
                                                    stroke="#667085" stroke-width="1.58333" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M5.9375 15.8438C6.92126 15.8438 7.71875 15.0463 7.71875 14.0625C7.71875 13.0787 6.92126 12.2812 5.9375 12.2812C4.95374 12.2812 4.15625 13.0787 4.15625 14.0625C4.15625 15.0463 4.95374 15.8438 5.9375 15.8438Z"
                                                    stroke="#667085" stroke-width="1.58333" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_2129_7132">
                                                    <rect width="19" height="19" fill="white"
                                                        transform="translate(0 1)" />
                                                </clipPath>
                                            </defs>
                                        </svg>

                                        Şifre Değişikliği
                                    </div>
                                </a>
                            </li>

                            <li class="profile-menu__item ">
                                <a href="#" class="profile-menu__link">
                                    <div class="profile-menu__option">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.33301 17.5H4.99967C4.55765 17.5 4.13372 17.3244 3.82116 17.0118C3.5086 16.6993 3.33301 16.2754 3.33301 15.8333V4.16667C3.33301 3.72464 3.5086 3.30072 3.82116 2.98816C4.13372 2.67559 4.55765 2.5 4.99967 2.5H8.33301M14.1663 14.1667L18.333 10M18.333 10L14.1663 5.83333M18.333 10H8.33301"
                                                stroke="#667085" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>

                                        Çıkış Yap
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="user-info__body">
                        <a href="#" class="btn-back d-flex d-lg-none">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.8337 9.99996H4.16699M4.16699 9.99996L10.0003 15.8333M4.16699 9.99996L10.0003 4.16663"
                                    stroke="#00671B" stroke-width="1.2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <span>Geri Dön</span>
                        </a>
                        <div class="user-info__header">
                            <h2>Kullanıcı Bilgilerim</h2>
                            <p>Şifreniz en az bir harf, rakam veya özel karakter içermeli. Ayrıca şifreniz en az 8
                                karakterden oluşmalı.
                            </p>
                        </div>

                        <div class="user-info__form">
                            <form class="row" id="userInfoForm">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="name">Ad</label>
                                        <input id="name" name="name" type="text" class="form-control"
                                            aria-describedby="name" placeholder="Ad" data-inputmask="'placeholder':''"
                                            data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞÖÇ]+">
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="surname">Soyad</label>
                                        <input id="surname" name="surname" type="text" class="form-control"
                                            aria-describedby="surname" placeholder="Soyad"
                                            data-inputmask="'placeholder':''"
                                            data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞsÖÇ]+">
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="email">E-Posta Adresi</label>
                                        <input id="email" name="email" type="text" class="form-control"
                                            aria-describedby="email" placeholder="E-Posta"
                                            data-inputmask="'alias': 'email'">
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="phone">Telefon</label>
                                        <input id="phone" name="phone" type="text" class="form-control"
                                            aria-describedby="phone" placeholder="Telefon Numarası"
                                            data-inputmask="'mask': '+99 (999) 999 99 99', 'placeholder':'+90 (___) ___ __ __'"
                                            inputmode="text">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <button type="submit" class="btn-update">Güncelle</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>