<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="blogdetail-content">
                <h4>İthal Ceviz ve Yerli Ceviz arasındaki Farklar</h4>
                <p>
                    Ülkemizde yeterli miktarda ceviz üretimi olmadığı için Amerika, Şili ve Çin’den ceviz ithal
                    edilmektedir. İthal edilen
                    ülkelerden gelen cevizler çoğunlukla 2. kalite olup 1. Kalite cevizler kendi ülkelerinde
                    kalmaktadır. İthal edilen
                    cevizler okyanus aşırı taşındığı için gereğinden fazla kuruyarak tazeliğini yitirmekte ve tadında
                    değişiklikler meydana
                    gelmektedir.
                </p>
                <p>
                    Yerli cevizde bu tür durumlar yaşanmadığı için ve uygun saklama koşullarında tutulduğunda yaklaşık
                    olarak 1 yıla kadar
                    ilk günkü tazeliğini koruyarak tüketilebilmektedir. Ayrıca kalite anlamında da 1. Sınıf ceviz iç
                    piyasada kalmaktadır.
                </p>
            </div>
        </div>
    </div>
</div>