<section class="delivery-address">
    <div class="container">
        <div class="delivery-address__wrapper">
            <div class="row">
                <div class="col-12 col-xl-9">
                    <a href="#" class="btn-back-link">
                        <svg class="mr-2 mr-lg-3" width="14" height="14" viewBox="0 0 14 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.6667 7.00008H1M1 7.00008L6.83333 12.8334M1 7.00008L6.83333 1.16675"
                                stroke="#008523" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Teslimat Adresi
                    </a>

                    <div class="delivery-address__area">
                        <h4 class="delivery-address__title">Kayıtlı Adreslerim</h4>

                        <ul class="delivery-address__list">
                            <li class="delivery-address__item">
                                <input type="radio" class="radio" id="radio1" name="radio">
                                <label class="delivery-address__label" for="radio1">
                                    <div class="address-card">
                                        <div class="address-card__heading">
                                            <h5 class="address-card__heading-type">Ev Adresim</h5>
                                            <div class="address-card__active-box">
                                                <div>
                                                    <img src="/dist/media/img/delivery-address/tick.png" alt="Tick"
                                                        class="address-card-tick">
                                                </div>
                                                <a href="#editaddressform"
                                                    class="btn-edit-link js-btn-edit-link">Düzenle</a>
                                            </div>
                                        </div>

                                        <div class="address-card__info">
                                            <p class="address-card__info-address">
                                                Tekstilkent Koza Plaza B Blok No: K:19 32456 Esenler / İstanbul
                                            </p>
                                            <p class="address-card__info-phone">
                                                Telefon Numarası : <span>0521 221 33 44</span>
                                            </p>

                                            <p class="address-card__info-name">
                                                Ad Soyad : <span>Berkay</span> <span>Boz</span>
                                            </p>
                                        </div>
                                    </div>
                                </label>
                            </li>

                            <li class="delivery-address__item">
                                <input type="radio" class="radio" id="radio2" name="radio">
                                <label class="delivery-address__label" for="radio2">
                                    <div class="address-card">
                                        <div class="address-card__heading">
                                            <h5 class="address-card__heading-type">İş Adresim</h5>
                                            <div class="address-card__active-box">
                                                <div>
                                                    <img src="/dist/media/img/delivery-address/tick.png" alt="Tick"
                                                        class="address-card-tick">
                                                </div>
                                                <a href="#editaddressform"
                                                    class="btn-edit-link js-btn-edit-link">Düzenle</a>
                                            </div>
                                        </div>

                                        <div class="address-card__info">
                                            <p class="address-card__info-address">
                                                Tekstilkent Koza Plaza B Blok No: K:19 32456 Esenler / İstanbul
                                            </p>
                                            <p class="address-card__info-phone">
                                                Telefon Numarası : <span>0521 221 33 44</span>
                                            </p>

                                            <p class="address-card__info-name">
                                                Ad Soyad : <span>Berkay</span> <span>Boz</span>
                                            </p>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>

                        <a href="#addressform" class="btn-add-address js-btn-add-address">
                            <svg class="mr-3" width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="32" height="32" fill="#FAFAFA" />
                                <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" fill="#FAFAFA" />
                                <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="#00671B" />
                                <path
                                    d="M21 15H17V11C17 10.7348 16.8946 10.4804 16.7071 10.2929C16.5196 10.1054 16.2652 10 16 10C15.7348 10 15.4804 10.1054 15.2929 10.2929C15.1054 10.4804 15 10.7348 15 11V15H11C10.7348 15 10.4804 15.1054 10.2929 15.2929C10.1054 15.4804 10 15.7348 10 16C10 16.2652 10.1054 16.5196 10.2929 16.7071C10.4804 16.8946 10.7348 17 11 17H15V21C15 21.2652 15.1054 21.5196 15.2929 21.7071C15.4804 21.8946 15.7348 22 16 22C16.2652 22 16.5196 21.8946 16.7071 21.7071C16.8946 21.5196 17 21.2652 17 21V17H21C21.2652 17 21.5196 16.8946 21.7071 16.7071C21.8946 16.5196 22 16.2652 22 16C22 15.7348 21.8946 15.4804 21.7071 15.2929C21.5196 15.1054 21.2652 15 21 15Z"
                                    fill="#00671B" />
                            </svg>
                            Yeni Adres Ekle
                        </a>

                        <div class="delivery-address-checkbox">
                            <input type="checkbox" class="checkbox" id="checkbox" name="checkbox">

                            <label class="delivery-address-checkbox__label" for="checkbox">
                                <span class="delivery-address-checkbox__button"></span>
                                Fatura adresim teslimat adresim ile aynı olsun.</label>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="order-summary-desktop">
                        <div class="order-summary-desktop__wrapper">
                            <h4 class="order-summary-desktop__title">Sipariş Özeti</h4>
                            <div class="order-summary-desktop__content">
                                <div class="order-summary-desktop__info">
                                    <p class="order-summary-desktop__text">Ürünler</p>
                                    <p class="order-summary-desktop__price"><span>135,00</span>
                                        TL</p>
                                </div>

                                <div class="order-summary-desktop__info">
                                    <p class="order-summary-desktop__text">Kargo</p>
                                    <div class="order-summary-desktop__cargo">
                                        <div class="free-text">Ücretsiz</div>
                                        <p class="order-summary-desktop__price-through"><span>30</span>TL</p>
                                    </div>
                                </div>
                            </div>

                            <div class="order-summary-desktop__total">
                                <p class="order-summary-desktop__total-text">Sepet Toplamı</p>
                                <p class="order-summary-desktop__total-price"><span>135,00</span>
                                    TL</p>
                            </div>
                            <a href="#" class="btn-next-step">Sonraki Adım
                                <svg class="ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.1665 9.99996H15.8332M15.8332 9.99996L9.99984 4.16663M15.8332 9.99996L9.99984 15.8333"
                                        stroke="white" stroke-width="1.6" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="addressform" class="modal modal--new-address-form">
    <div class="addressform__wrapper">
        <div class="addressform__header">
            <h5 class="addressform__header-title">Yeni Adres Ekle</h5>
            <a href="javascript:;" class="js-close-form close-form"><svg width="22" height="22" viewBox="0 0 22 22"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.375 6.625L6.625 15.375M6.625 6.625L15.375 15.375" stroke="#848484"
                        stroke-width="1.45833" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </a>
        </div>
        <div class="addressform__body">
            <div class="container">
                <form class="row" id="addressForm">
                    <div class="col-12">
                        <h4 class="addressform__body-title">Kişisel Bilgiler</h4>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="name">Ad</label>
                            <input id="name" name="name" type="text" class="form-control" aria-describedby="name"
                                placeholder="Ad" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞÖÇ]+">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="surname">Soyad</label>
                            <input id="surname" name="surname" type="text" class="form-control"
                                aria-describedby="surname" placeholder="Soyad" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞsÖÇ]+">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="phone">Telefon Numarası</label>
                            <input id="phone" name="phone" type="text" class="form-control" aria-describedby="phone"
                                placeholder="Telefon Numarası"
                                data-inputmask="'mask': '+99 (999) 999 99 99', 'placeholder':'+90 (___) ___ __ __'"
                                inputmode="text">
                        </div>
                    </div>

                    <div class="col-12">
                        <h4 class="addressform__body-title">Adres Bilgileri</h4>
                    </div>


                    <div class="col-6">
                        <div class="form-group">
                            <label for="city">Şehir</label>
                            <div class="addressform__dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="cities" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Şehir
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="cities">
                                        <a class="dropdown-item" href="#">İstanbul</a>
                                        <a class="dropdown-item" href="#">İzmir</a>
                                        <a class="dropdown-item" href="#">Bursa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="couty">İlçe</label>
                            <div class="addressform__dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="cities" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        İlçe
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="cities">
                                        <a class="dropdown-item" href="#">Esenyurt</a>
                                        <a class="dropdown-item" href="#">Avcılar</a>
                                        <a class="dropdown-item" href="#">Bayrampaşa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="address">Adres</label>
                            <textarea id="address" name="address" type="text" data-inputmask="'placeholder':''"
                                class="form-control" rows="4" placeholder="Diğer bilgileri girin"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="name">Adres Adı</label>
                            <input id="name" name="name" type="text" class="form-control" aria-describedby="name"
                                placeholder="Adres Adı" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞÖÇ]+">
                        </div>
                    </div>


                    <div class="col-12">
                        <button type="submit" class="btn-save-address">Adresi Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="editaddressform" class="modal modal--new-edit-address-form">
    <div class="addressform__wrapper">
        <div class="addressform__header">
            <h5 class="addressform__header-title">Adres Düzenle</h5>
            <a href="javascript:;" class="js-close-form close-form"><svg width="22" height="22" viewBox="0 0 22 22"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.375 6.625L6.625 15.375M6.625 6.625L15.375 15.375" stroke="#848484"
                        stroke-width="1.45833" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </a>
        </div>
        <div class="addressform__body">
            <div class="container">
                <form class="row" id="addressForm">
                    <div class="col-12">
                        <h4 class="addressform__body-title">Kişisel Bilgiler</h4>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="name">Ad</label>
                            <input id="name" name="name" type="text" class="form-control" aria-describedby="name"
                                placeholder="Ad" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞÖÇ]+">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="surname">Soyad</label>
                            <input id="surname" name="surname" type="text" class="form-control"
                                aria-describedby="surname" placeholder="Soyad" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞsÖÇ]+">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="phone">Telefon Numarası</label>
                            <input id="phone" name="phone" type="text" class="form-control" aria-describedby="phone"
                                placeholder="Telefon Numarası"
                                data-inputmask="'mask': '+99 (999) 999 99 99', 'placeholder':'+90 (___) ___ __ __'"
                                inputmode="text">
                        </div>
                    </div>

                    <div class="col-12">
                        <h4 class="addressform__body-title">Adres Bilgileri</h4>
                    </div>


                    <div class="col-6">
                        <div class="form-group">
                            <label for="city">Şehir</label>
                            <div class="addressform__dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="cities" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Şehir
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="cities">
                                        <a class="dropdown-item" href="#">İstanbul</a>
                                        <a class="dropdown-item" href="#">İzmir</a>
                                        <a class="dropdown-item" href="#">Bursa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="couty">İlçe</label>
                            <div class="addressform__dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="cities" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        İlçe
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="cities">
                                        <a class="dropdown-item" href="#">Esenyurt</a>
                                        <a class="dropdown-item" href="#">Avcılar</a>
                                        <a class="dropdown-item" href="#">Bayrampaşa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="address">Adres</label>
                            <textarea id="address" name="address" type="text" data-inputmask="'placeholder':''"
                                class="form-control" rows="4" placeholder="Diğer bilgileri girin"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="name">Adres Adı</label>
                            <input id="name" name="name" type="text" class="form-control" aria-describedby="name"
                                placeholder="Adres Adı" data-inputmask="'placeholder':''"
                                data-inputmask-regex="[a-zA-ZğüşöçıİĞÜŞÖÇ]+">
                        </div>
                    </div>


                    <div class="col-12">
                        <button type="submit" class="btn-save-address">Adresi Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>