<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="contract-menu">
                <ul class="contract-menu__list">
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Üyelik Sözleşmesi</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Erişim Anlaşması</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Mesafeli Satış Sözleşmesi</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Kullanım Koşulları</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link active">Gizlilik Politikası</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Ürün İade ve Cayma Hakkı</a>
                    </li>
                    <li class="contract-menu__item">
                        <a href="#" class="contract-menu__link">Geri Ödeme Politikası</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>