<section class="hero">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="hero-slider">
                    <picture>
                        <source media="(min-width:768px)" srcset="/dist/media/img/blog/herodesktopimg.png">
                        <img src="/dist/media/img/blog/heromobileimg.png" alt="Blog Banner" class="img-fluid w-100">
                    </picture>

                    <div class="hero-slider__heading">
                        <h1 class="hero-slider__title">
                            Sözleşme Sayfası
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget non quam amet elit diam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>