<section class="about-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content__wrapper">
                    <p class="about-content__wrapper-text">
                        Hem kaliteli ürünün kullanıcı ile buluşması hem de sektörde öncü bir marka hedefi ile yola çıkan
                        MAYCEV A.Ş. …. Yıldır
                        kaliteli ceviz üretimi yaparak son kullanıcıya sunabilmek için canla başla çalışmaktadır.
                        Teknoloji
                        ve sektörel
                        tecrübenin birleşerek, ziraate gönül vermiş kurucular ve profesyonellerin doğru yaklaşımları
                        sonucunda, cevizde bir
                        dünya markası olma yolunda ilerlemektedir.
                    </p>
                    <p class="about-content__wrapper-text">
                        Yurt dışı ve yurt içi pazarda geniş bir tüketici ağına sahip olan MAYCEV A.Ş.
                        Yönetimi, müşterilerinin mevcut ve gelecekteki taleplerini ve yürürlükteki mevzuat şartlarını
                        karşılayan ürünleri
                        düzenli bir şekilde sağlamak ve müşteri memnuniyetini arttırmak için ‘’ İyi Tarım Uygulamaları’’
                        ve
                        ‘’ISO 9001:2015
                        Kalite Yönetim Sistemi’’ standardına uygun Kalite Yönetim Sistemini uygulamayı stratejik bir
                        karar
                        olarak almıştır.
                    </p>
                    <p class="about-content__wrapper-text">
                        Bu karar doğrultusunda Kalite Sistemimiz; firmamızın hedefleri, yapısı, sunduğumuz ürünler,
                        gerçekleştirdiğimiz süreçler dikkate alınarak tasarlanmış ve uygulamaya alınmıştır. Böylelikle
                        Toplam Kalite Yönetimi uygulamalarında da önemli bir adım atılmıştır.
                    </p>
                </div>
            </div>

            <div class="col-12">
                <div class="about-content__statistics">
                    <div class="about-content__numbers">
                        <span>1.600</span>
                        <p>Dekar Alan</p>
                    </div>

                    <div class="about-content__numbers">
                        <span>30.000</span>
                        <p>Ağaç</p>
                    </div>
                </div>
            </div>

            <div class="col-12 p-xl-0">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 order-1 order-lg-2">
                            <div class="about-content__imgwrapper">
                                <img src="/dist/media/img/about/nuts.png" alt="Nuts" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 order-2 order-lg-1">
                            <div class="about-content__info">
                                <h1 class="about-content__info-title">Vizyon & Misyon</h1>
                                <p class="about-content__info-text">
                                    Türkiye’de ceviz üretimi konusunda birim alandan alınan verim, ürün kalitesi,
                                    müşteri memnuniyeti konusunda en iyi ve en
                                    bilinen şirket olmak ve bunu yaparken de kullandığımız kaynakları çevreye ve doğaya
                                    saygılı bir şekilde optimize ederek
                                    ve karlılığı da göz önünde tutarak sürdürülebilir bir şirket olmak.
                                </p>
                                <p class="about-content__info-text">
                                    Ceviz üretimi, tedariki ve satışındaki tüm süreçleri sürekli iyileştirme ve
                                    geliştirme felsefesiyle, teknolojiyi de
                                    kullanarak, ürün ve hizmet kalitemizi bu konudaki en ileri ülkelerdeki
                                    rakiplerimizin üzerine çıkararak Türkiye’nin en
                                    değerli ceviz markası haline gelmek.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>