<section class="about-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content__wrapper">
                    <h3 class="about-content__wrapper-title">Tarihçemiz</h3>
                    <p class="about-content__wrapper-text">
                        Kurucumuz olan Mehmet Ali Yormazoğlu aynı zamanda Türkiye’nin ilk özel tohum şirketi olan May
                        Tohumu 1978 yılında
                        kurmuştur. May tohum 40 yılı aşkın tarihi boyunca tohum ticaretiyle başlayan işine önce üretimi
                        eklemiş, sonrasında da
                        araştırma geliştirmeye yatırım yaparak ürünlerini kendi markasında hem yurtiçinde hem de 40’tan
                        fazla ülkede satar hale
                        gelmiştir. Ayrıca May Tohum bugün itibarıyla Türkiye’de bitki araştırma geliştirmesine en fazla
                        kaynak aktaran şirket
                        olup Türkiye’den yapılan tohum ihracatının %10’unu gerçekleştirmektedir.
                    </p>
                    <p class="about-content__wrapper-text">
                        Mehmet Ali Bey aynı zamanda May tohumun tohum üretiminin bir bölümünün yapıldığı Bursa’nın
                        Yenişehir ovasında kendisine
                        ait bir arazinin 9 dekarlık bir alanında 2004 yılında ceviz fidanlarını dikerek ovanın ilk
                        kapama ceviz bahçesini deneme
                        amacıyla oluşturmuştur. Sonrasında May tohumdan gelen bilgi birikimi ve network sayesinde ceviz
                        konusunda uluslararası
                        bir araştırma yapılmış ve bunun sonucunda da kapama ceviz bahçesi yetiştiriciliğinde dünyada
                        lider olan merkezlere
                        şirket üst yönetimi ziyaretler gerçekleştirmiştir. Bu ziyaretler sonrasında kapama ceviz bahçesi
                        işinin ayrı bir
                        uzmanlık alanı olduğu ve yine bu konuda yurtdışında ciddi bir bilgi birikimi oluştuğu anlaşılmış
                        ve oradaki uygulamaları
                        Türkiye şartlarına uyarlamak ve üretim ekibini eğitmek amacıyla bu konudaki uzman bir yurtdışı
                        danışmanıyla anlaşma
                        yapılarak belli bir süre ilgili danışmanın rehberliğinde bilimsel ceviz yetiştiriciliğinin
                        şirkete aktarılması
                        sağlanmıştır.
                    </p>
                    <p class="about-content__wrapper-text">
                        Bunlar olurken Türkiye’nin ceviz ihtiyacının önemli bir kısmının yurtdışından ithal edilmesi
                        gerçeği ve yapılan
                        fizibilite sonucunda ceviz işine daha fazla yatırım yapılarak ölçek ekonomisinden
                        faydalanılmasına karar verilmiş ve
                        2011 yılında MAYCEV şirketi kurulmuştur. İlerleyen yıllarda 9 dekarlık alan her yıl yapılan
                        ilave bahçe eklemeleriyle
                        bugün itibarıyla 1600 dekar ve 30.000 ceviz ağacına ulaşmıştır. Bu büyüme esnasında MAYCEV ceviz
                        işleme ve kurutma
                        tesislerine, mekanik hasat için gerekli makine ve ekipmana yatırım yaparak Dünya’da ceviz
                        yetiştiriciliğinde önder olan
                        ülkelerin teknolojik seviyesini yakalamıştır. Bunun yanında belki de en önemlisi tüm bu üretimi
                        yapan ekibimiz, geçen
                        yıllarda danışmanımızın ve yurtiçi ve yurtdışından alınan eğitimler ve uygulama esnasında elde
                        ettikleri birikimlerle,
                        yetkin hale gelmiştir.
                    </p>
                    <p class="about-content__wrapper-text">
                        Tüm bunları dikkate aldığımızda geldiğimiz nokta: birim alandan verim miktarımız, Dünya’daki en
                        ileri ülke olan ABD
                        Kaliforniya verimleriyle, eşdeğerdir ve ürettiğimiz cevizler, kalite olarak da ismen istenen ve
                        hem müşterilerimiz hem
                        de son tüketicide ciddi talep gören, bir ürün haline gelmiştir.
                    </p>
                </div>
            </div>

            <div class="col-12">
                <div class="about-content__statistics">
                    <div class="about-content__numbers">
                        <span>1.600</span>
                        <p>Dekar Alan</p>
                    </div>

                    <div class="about-content__numbers">
                        <span>30.000</span>
                        <p>Ağaç</p>
                    </div>
                </div>
            </div>

            <div class="col-12 p-xl-0">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 order-1 order-lg-2">
                            <div class="about-content__imgwrapper">
                                <img src="/dist/media/img/about/office.png" alt="Office" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 order-2 order-lg-1">
                            <div class="about-content__info">
                                <h3 class="about-content__info-title">Vizyon & Misyon</h3>
                                <p class="about-content__info-text">
                                    Türkiye’de ceviz üretimi konusunda birim alandan alınan verim, ürün kalitesi,
                                    müşteri memnuniyeti konusunda en iyi ve en
                                    bilinen şirket olmak ve bunu yaparken de kullandığımız kaynakları çevreye ve doğaya
                                    saygılı bir şekilde optimize ederek
                                    ve karlılığı da göz önünde tutarak sürdürülebilir bir şirket olmak.
                                </p>
                                <p class="about-content__info-text">
                                    Ceviz üretimi, tedariki ve satışındaki tüm süreçleri sürekli iyileştirme ve
                                    geliştirme felsefesiyle, teknolojiyi de
                                    kullanarak, ürün ve hizmet kalitemizi bu konudaki en ileri ülkelerdeki
                                    rakiplerimizin üzerine çıkararak Türkiye’nin en
                                    değerli ceviz markası haline gelmek.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>