<section class="hero">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="hero-slider">
                    <picture>
                        <source media="(min-width:768px)" srcset="/dist/media/img/about/aboutdesktopimg.png">
                        <img src="/dist/media/img/about/aboutmobileimg.png" alt="About Banner" class="img-fluid w-100">
                    </picture>

                    <div class="hero-slider__heading">
                        <!-- <h1 class="hero-slider__title">
                            Hakkımızda
                        </h1> -->
                        <p>
                            Maycev, Toplamda 1600 dekarlık bir alanda yaklaşık 30.000 ağaçlık bahçelere sahip
                            Türkiye’nin en verimli ceviz
                            bahçesidir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>