.products {
  &-heading {
    text-align: center;
    padding: rem(32) rem(20) rem(16) rem(20);

    @include media-breakpoint-up(lg) {
      padding: rem(96) rem(112) rem(40) rem(112);
    }

    &__title {
      @include setFont(18px, b-regular, getColor(primary-green-700), 32);
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        @include setFont(24px, b-regular, getColor(primary-green-700), 32);
        margin-bottom: rem(14);
      }
    }

    &__innertitle {
      @include setFont(24px, semibold, getColor(neutrals-900), 40);
      @include media-breakpoint-up(lg) {
        @include setFont(32px, semibold, getColor(neutrals-900), 40);
        margin-bottom: rem(16);
      }
    }

    &__text {
      @include setFont(14px, regular, getColor(neutrals-800), 22);
      @include media-breakpoint-up(lg) {
        @include setFont(18px, regular, getColor(neutrals-800), 22);
      }
    }
  }

  &-wrapper {
    position: relative;
    border-radius: rem(40) 0;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      border-radius: rem(72) 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(
        15.16deg,
        #000000 8.75%,
        rgba(0, 0, 0, 0) 52.62%
      );
      width: 100%;
    }

    &--1 {
      margin-bottom: rem(16);

      @include media-breakpoint-up(lg) {
        margin-bottom: rem(96);
      }
    }

    &--2 {
      margin-bottom: rem(32);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(96);
        border-radius: 0 rem(72);
      }
    }

    &__image {
      width: 100%;
    }

    &__content {
      @include absolute() {
        top: 95%;
        left: 15%;
        transform: translate(-15%, -95%);
        z-index: 2;
      }

      &-text {
        background-color: #a4904c;
        padding: rem(2) rem(20);
        border-radius: rem(14) 0;
        width: fit-content;

        @include media-breakpoint-up(lg) {
          border-radius: rem(24) 0;
          padding: rem(2) rem(16);
        }

        & span {
          @include setFont(11px, medium, getColor(neutrals-white), 15);
          text-align: center;

          @include media-breakpoint-up(lg) {
            @include setFont(14px, medium, getColor(neutrals-white), 26);
          }
        }
      }

      &-name {
        @include setFont(16px, semibold, getColor(neutrals-white), 15);
        margin: rem(12) 0 rem(5) 0;

        @include media-breakpoint-up(lg) {
          @include setFont(22px, semibold, getColor(neutrals-white), 26);
          margin: rem(18) 0 rem(9) 0;
        }

        @include media-breakpoint-up(xl) {
          @include setFont(28px, semibold, getColor(neutrals-white), 26);
          margin: rem(18) 0 rem(9) 0;
        }
      }

      &-amount {
        @include setFont(14px, semibold, getColor(neutrals-white), 15);

        & svg {
          height: rem(10);
          vertical-align: unset;

          @include media-breakpoint-up(lg) {
            height: auto;
          }
        }

        @include media-breakpoint-up(lg) {
          @include setFont(18px, semibold, getColor(neutrals-white), 26);
        }

        @include media-breakpoint-up(xl) {
          @include setFont(22px, semibold, getColor(neutrals-white), 26);
        }
      }
    }
  }

  & .basketicon__wrapper {
    @include absolute() {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      bottom: 12%;
      right: 10%;
      transform: translate(-10%, -12%);
      padding: rem(12);
      z-index: 2;
    }

    @include media-breakpoint-up(lg) {
      bottom: 25%;
      right: 10%;
      transform: translate(-10%, -25%);
    }

    @include media-breakpoint-up(xl) {
      bottom: 20%;
      right: 10%;
      transform: translate(-10%, -20%);
    }
  }

  & .basketicon {
    width: rem(48);
    height: rem(48);
    border: 1.28737px solid getColor(neutrals-white);
    position: static;

    @include media-breakpoint-up(lg) {
      width: rem(56);
      height: rem(56);
      border: 1.52114px solid getColor(neutrals-white);
    }
  }
}
