<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="blogdetail-content">
                <h4>Cevizin Uygun Saklama Koşulları</h4>
                <p>
                    Kabuklu cevizinizi dolabınızın derin dondurucu bölümünde -18 derece ‘de 48 saat bekletirseniz,
                    cevizinizi pastörize
                    işlemi yapmış olursunuz. Bu sayede ceviziniz güvelenmez ve tazeleğini korumuş olursunuz. Sonrasında
                    oda koşullarında
                    serin ve kuru bir yerde minimum 6 ay boyunca muhafaza edebilirsiniz.
                </p>
                <p>
                    Ya da cevizinizi direkt olarak buzdolabınızda + 4 derecede muhafaza ederek yaklaşık olarak 1 yıl
                    boyunca muhafaza edip
                    ihtiyacınız kadar tüketebilirsiniz.
                </p>
            </div>
        </div>
    </div>
</div>