.btn-all {
  border: 1px solid getColor(neutrals-300);
  border-radius: rem(8);
  padding: rem(10) rem(48);
  @include setFont(14px, semibold, getColor(neutrals-black), 22);
}

.btn-more {
  border: 1px solid getColor(neutrals-300);
  border-radius: rem(8);
  padding: rem(10) rem(47);
  text-align: center;
  @include setFont(16px, semibold, getColor(neutrals-900), 28);
}

.btn-send {
  border: none;
  border-radius: rem(6);
  padding: rem(12) rem(24);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
  background-color: getColor(primary-green-800);
  width: 100%;
}

.btn-print {
  display: flex;

  & span {
    @include setFont(14px, medium, rgba(37, 37, 37, 1), 20);
    margin-left: rem(8);
  }
}

.btn-back {
  display: flex;

  & span {
    @include setFont(14px, medium, rgba(0, 0, 0, 1), 20);
    margin-left: rem(4);
  }
}

.btn-update {
  border: none;
  border-radius: rem(6);
  padding: rem(12) rem(24);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
  background-color: getColor(primary-green-800);
  width: 100%;
}

.btn-addbasket {
  border: none;
  border-radius: rem(8);
  padding: rem(10) rem(24);
  @include setFont(16px, medium, getColor(neutrals-white), 28);
  background-color: getColor(primary-green-800);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-share {
  border: 1px solid #e4e7ec;
  border-radius: rem(9);
  padding: rem(16);
}

.btn-minus {
  border: 1px solid #f2f2f2;
  border-radius: rem(37);
  width: rem(32);
  height: rem(32);
  text-align: center;
}

.btn-plus {
  border: 1px solid #f2f2f2;
  border-radius: rem(37);
  width: rem(32);
  height: rem(32);
  text-align: center;
}

.btn-see-products {
  background-color: getColor(primary-green-800);
  border-radius: rem(6);
  padding: rem(12) rem(72);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
}

.btn-close {
  background-color: getColor(neutrals-50);
  border: 0.42px solid #eeeeee;
  border-radius: rem(16);
  width: rem(28);
  height: rem(28);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-up {
  background-color: #fafafa;
  border-radius: rem(47);
  width: rem(28);
  height: rem(28);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-approve-basket {
  background-color: getColor(primary-green-800);
  border-radius: rem(12);
  padding: rem(12) rem(72);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
  text-align: center;
}

.btn-next-step {
  background-color: #00671b;
  border-radius: rem(12);
  padding: rem(12) rem(24);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-back-link {
  @include setFont(20px, medium, rgba(37, 37, 37, 1), 32);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: rem(16) 0 rem(16) rem(20);

  @include media-breakpoint-up(lg) {
    @include setFont(24px, semibold, rgba(37, 37, 37, 1), 32);
  }
}

.btn-edit-link {
  @include setFont(14px, medium, getColor(primary-green-800), 20);
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.btn-add-address {
  @include setFont(16px, medium, getColor(primary-green-800), 24);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: rem(16);
  padding: rem(20);

  @include media-breakpoint-up(lg) {
    padding: rem(24) rem(32);
  }
}

.btn-save-address {
  border: none;
  border-radius: rem(8);
  padding: rem(12) rem(24);
  @include setFont(16px, semibold, getColor(neutrals-white), 24);
  background-color: getColor(primary-green-800);
  width: 100%;
}
