.order {
  padding: rem(24) 0;

  @include media-breakpoint-up(lg) {
    border: 1px solid #eeeeee;
    border-radius: rem(16);
    padding: rem(32);
  }

  &-heading {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }

  &-imgwrapper {
    border: 0.83px solid #eeeeee;
    border-radius: rem(8);

    @include media-breakpoint-up(lg) {
      max-width: fit-content;
    }

    & img {
      width: rem(103);
      height: rem(116);
      padding: rem(16);

      @include media-breakpoint-up(lg) {
        width: rem(192);
        height: rem(155);
        object-fit: contain;
      }
    }
  }

  &-product__wrapper {
    @include media-breakpoint-up(lg) {
      flex: 1 1 auto;
      margin-left: rem(32);
    }

    &-info {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
        border-bottom: 1px solid #eeeeee;
      }

      &-name {
        @include setFont(14px, semibold, rgba(37, 37, 37, 1), 20);
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          @include setFont(20px, semibold, rgba(37, 37, 37, 1), 32);
        }
      }

      &-free {
        @include setFont(12px, medium, rgba(13, 130, 75, 1), 20);
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
          @include setFont(14px, medium, rgba(13, 130, 75, 1), 20);
          margin-bottom: rem(12);
        }
      }
    }
  }

  &-oldprices {
    display: flex;
    align-items: center;

    &__oldprice {
      @include setFont(14px, regular, getColor(neutrals-600), 26);

      @include media-breakpoint-up(lg) {
        @include setFont(16px, regular, getColor(neutrals-600), 26);
      }
      text-decoration-line: line-through;
      margin: 0 rem(10) 0 0;
    }

    &__discount {
      @include setFont(14px, semibold, #49b546, 32);

      @include media-breakpoint-up(lg) {
        @include setFont(16px, semibold, #49b546, 32);
      }
    }
  }

  &-newprice {
    @include setFont(16px, semibold, getColor(neutrals-black), 34);
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      @include setFont(28px, semibold, getColor(neutrals-black), 38);
    }
  }

  &-amount__container {
    display: flex;
    align-items: center;
    background-color: getColor(neutrals-white);
    border: 0.83px solid #eeeeee;
    border-radius: rem(10);
    padding: rem(8) rem(16);

    &__amount {
      margin: 0 rem(8);
      @include setFont(14px, medium, rgba(0, 0, 0, 1), 21);
      white-space: nowrap;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(16);
  }

  &-info {
    &-kg {
      @include setFont(14px, regular, rgba(37, 37, 37, 1), 20);
      margin-bottom: 0;
    }
  }

  &-summary {
    &--sticky {
      position: sticky;
      bottom: 0;
      z-index: 90;

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
    &-mobile {
      display: none;

      @include media-breakpoint-up(xl) {
        display: block;
      }

      &.show {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 30;
        width: 100%;
      }

      &__wrapper {
        position: relative;
        z-index: 30;
        border: 1px solid #eeeeee;
        border-top-left-radius: rem(16);
        border-top-right-radius: rem(16);
        padding: rem(20);
        background-color: getColor(neutrals-white);
      }

      &__title {
        @include setFont(20px, semibold, getColor(neutrals-black), 30);
        border-bottom: 1px solid #eeeeee;
        padding-bottom: rem(12);
      }

      &__text {
        @include setFont(14px, regular, rgba(37, 37, 37, 1), 20);
        margin-bottom: 0;
      }

      &__price {
        @include setFont(14px, medium, rgba(0, 0, 0, 1), 24);
        margin-bottom: 0;
      }

      &__price-through {
        @include setFont(14px, medium, rgba(0, 0, 0, 1), 24);
        text-decoration: line-through;
        margin-bottom: 0;
      }

      &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__content {
        padding: rem(16) 0;
      }

      &__cargo {
        display: flex;
      }
    }

    &-desktop {
      display: none;

      @include media-breakpoint-up(xl) {
        display: block;
      }

      &__wrapper {
        position: relative;
        border: 1px solid #eeeeee;
        border-radius: rem(16);
        padding: rem(24);
        background-color: getColor(neutrals-white);
      }

      &__title {
        @include setFont(20px, semibold, getColor(neutrals-black), 30);
        border-bottom: 1px solid #eeeeee;
        padding-bottom: rem(12);
      }

      &__text {
        @include setFont(14px, regular, rgba(37, 37, 37, 1), 20);
        margin-bottom: 0;
      }

      &__price {
        @include setFont(14px, medium, rgba(0, 0, 0, 1), 24);
        margin-bottom: 0;
      }

      &__price-through {
        @include setFont(14px, medium, rgba(0, 0, 0, 1), 24);
        text-decoration: line-through;
        margin-bottom: 0;
      }

      &__cargo {
        display: flex;
      }

      &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__content {
        padding: rem(16) 0;
        border-bottom: 1px solid #eeeeee;
      }

      &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(16) 0 rem(32) 0;

        &-text {
          @include setFont(14px, medium, rgba(0, 0, 0, 1), 20);
          margin-bottom: 0;
        }

        &-price {
          @include setFont(18px, medium, rgba(0, 0, 0, 1), 24);
          margin-bottom: 0;
        }
      }
    }
  }
}
