.plusicon {
  width: rem(48);
  height: rem(48);
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: getColor(primary-green-700);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  & span {
    @include setFont(16px, medium, getColor(rgba(255, 255, 255, 1)), 63);
  }
}
