.p-hero {
  position: relative;
  & .plusicon__wrapper {
    @include absolute() {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
      padding: rem(8);
      z-index: 2;
    }
  }

  &__wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        181.48deg,
        #111010 0.28%,
        rgba(0, 0, 0, 0.565396) 13.61%,
        rgba(0, 0, 0, 0) 37.45%
      );
    }
  }

  &__heading {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    & h2 {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
        @include setFont(24px, b-regular, rgba(255, 255, 255, 1), 32);
      }
    }

    & h3 {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
        white-space: nowrap;
        @include setFont(56px, semibold, rgba(255, 255, 255, 1), 64);
      }
    }
  }
}

.production-content {
  &__wrapper {
    padding: rem(48) 0;
    @include media-breakpoint-up(lg) {
      padding: rem(96) 0;
    }

    & .padding-wrapper {
      padding: 0;

      @include media-breakpoint-up(md) {
        padding: 0 rem(15);
      }
    }

    & .video__wrapper {
      width: 100%;
      height: rem(400);
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        max-width: rem(531);
        height: rem(434);
      }

      & .video {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &--1 {
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(48);
      }
    }

    &--2 {
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(48);
      }
    }

    // &--3 {
    //   @include media-breakpoint-up(lg) {
    //     margin-bottom: rem(48);
    //   }
    // }
  }

  &__texts {
    padding: rem(32) 0 rem(24) 0;

    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    & h4 {
      @include setFont(20px, bold, #1d2939, 38);
    }

    & p {
      @include setFont(14px, regular, rgba(37, 37, 37, 1), 24);
    }
  }
}
