<section class="blog-content">
    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">
                        <img src="/dist/media/img/blog/blogimg3.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">

                        <img src="/dist/media/img/blog/blogimg4.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">
                        <img src="/dist/media/img/slider/blog/blogimg.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">
                        <img src="/dist/media/img/slider/blog/blogimg2.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">
                        <img src="/dist/media/img/blog/blogimg3.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/blog-detail.html">
                    <div class="blog-content__item">
                        <img src="/dist/media/img/blog/blogimg4.png" alt="Blog Image" class="img-fluid">
                        <div class="blog-content__texts">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                                amet
                                lectus nullam neque
                                neque. Nisi,
                                nisl tempus elementum</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn-more">Daha Fazla</a>
        </div>
    </div>
</section>