<section class="blog-content">
    <div class="container">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem1.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem2.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem3.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem1.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem2.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="blog-content__item">
                    <img src="/dist/media/img/slider/blog/blogitem3.png" alt="Blog Image" class="img-fluid">
                    <div class="blog-content__texts">
                        <a href="/blog-detail.html">
                            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum lacinia aliquet
                            amet
                            lectus nullam neque
                            neque. Nisi,
                            nisl tempus elementum</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 d-flex justify-content-center">
            <a href="#" class="btn-more">Daha Fazla</a>
        </div>
    </div>
</section>