<section class="hero">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="hero-slider">
                    <picture>
                        <source media="(min-width:768px)" srcset="/dist/media/img/blog/blogdesktopimg.png">
                        <img src="/dist/media/img/blog/blogmobileimg.png" alt="Blog Banner" class="img-fluid w-100">
                    </picture>

                    <div class="hero-slider__heading">
                        <h1 class="hero-slider__title">
                            Blog
                        </h1>
                        <p>
                            Bahçemizle ilgili tüm sorularınız, randevu ve işbirliği talepleriniz için
                            bizimle iletişime geçebilirsiniz!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>