<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="blogdetail-content">
                <h1>Neden Ceviz Tüketmeliyiz</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium egestas purus euismod a lorem id
                    augue porta
                    imperdiet.
                    Venenatis purus consectetur morbi velit purus aenean quisque orci, suspendisse. Fringilla cursus
                    purus etiam
                    egestas et
                    augue. Ullamcorper risus amet, ullamcorper porttitor iaculis volutpat. Eget dictum consectetur
                    nullam nisi,
                    cursus odio
                    amet, purus. Elementum euismod tempor, nec, odio non sodales quam. Massa et sit elementum rutrum
                    elit. Egestas
                    tincidunt
                    pulvinar scelerisque fermentum blandit mattis fusce magna aliquet. Ullamcorper nisi, semper habitant
                    at
                    malesuada ornare
                    sed.
                </p>
                <p>
                    Amet volutpat ultrices aliquam sed nec donec venenatis. Lectus nunc quam tincidunt gravida
                    pellentesque donec
                    vitae. Quam id dolor dictum neque quis amet. Tincidunt nulla fringilla sem sit ultrices in. Ipsum
                    nibh venenatis
                    habitant magna sit tempor. Placerat ornare a, odio nibh nisl. Egestas placerat mattis sit sit.
                    Vehicula habitant
                    egestas
                    orci diam. Imperdiet non volutpat interdum amet, non. At sed netus in aliquam sapien ipsum.
                    Pellentesque
                    tristique
                    scelerisque purus vitae malesuada mi.
                </p>
                <p>
                    Lorem volutpat fames justo, at nunc varius. Eu egestas gravida dignissim sit.
                    Consequat sit in arcu eget in orci pellentesque mollis massa. Lectus quis ullamcorper id sed.
                    Quisque pulvinar
                    non
                    penatibus pharetra hac facilisi tellus quis sed. Velit curabitur etiam feugiat nullam vel commodo
                    suspendisse
                    sed eu.
                    Nascetur et, odio cursus nibh nulla sapien. Diam sed ipsum eros, pretium. Mattis imperdiet blandit
                    eget leo nec
                    luctus
                    sit. Sed sed eu ut semper eu, massa volutpat. Vel dignissim libero hac cras ridiculus condimentum.
                    Eu, posuere
                    varius
                    turpis faucibus eu sed nullam aliquet. At suscipit at sollicitudin quisque elementum ultrices erat.
                    Tristique
                    amet sed
                    ante viverra pulvinar. Nisl nibh varius non ultricies mattis elementum eu tristique nisi.
                </p>

                <h2>Uygulama</h2>
                <ol>
                    <li>
                        Rule: Lectus cras volutpat in amet neque, tristique leo leo in. Ipsum lobortis enim id
                        sed. Magna
                        faucibus blandit
                        dis mauris lacus, nunc. Arcu in pretium nunc, nisl. Et id nulla consectetur justo.
                    </li>
                    <li>
                        Rule: Lectus cras volutpat in amet neque, tristique leo leo in. Ipsum lobortis enim id
                        sed.
                    </li>
                    <li>
                        Rule: Lectus cras volutpat in amet neque, tristique leo leo in. Ipsum lobortis enim id
                        sed. Magna
                        faucibus blandit
                        dis mauris lacus, nunc. Arcu in pretium nunc, nisl. Et id nulla consectetur justo.
                    </li>
                    <li>
                        Rule: Lectus cras volutpat in amet neque, tristique leo leo in. Ipsum lobortis enim id
                        sed. Magna
                        faucibus blandit
                        dis mauris lacus, nunc. Arcu in pretium nunc, nisl. Et id nulla consectetur justo.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>