<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="blogdetail-content">
                <h4>Cevizin Sağlığa Faydaları</h4>
                <p>
                    Genel anlamda cevizin iki çeşit hastalığı önemli ölçüde engelleyici özelliğinin olduğunu
                    söyleyebiliriz. Bunlardan
                    birincisi kalp ve damar hastalıklarıdır. Uzmanlar, bütün öğünlerden sonra bir miktar ceviz
                    yenilmesinin damarların
                    tıkanmasına neden olan yağlı besinlerin verebileceği zararlara engel olduğunu söylüyorlar. Ayrıca
                    yapılan araştırmalar
                    cevizin damarların esnekliklerini korumalarını sağladığını ortaya koydu. Ceviz içerisini
                    barındırdığı antioksidan
                    sayesinde kalp hastalıklarına neden olan zararlı maddeleri ortadan kaldırır ve vücudu bu tehlikeden
                    korur. Böylece
                    kalbin hastalıklara yakalanma riskini önemli ölçüde azaltır.
                </p>
                <p>
                    Bünyemiz kendi başına Omega yağını üretemez. Ceviz ise Omega 3 yağını bol miktarda bulundurur ve
                    günde ortalama 4-5
                    ceviz yiyen kişi vücudun gereksinimi olan omega 3 yağının %85’ini almış olur. Ayrıca Omega 3 yağının
                    antioksidan
                    içermesi kalp sağlığına faydalıdır.
                    Aynı şekilde günde 4-5 ceviz yediğimizde, vücudumuzun günlük ihtiyaç duyduğu demirin yüzde 20’sini,
                    manganezin yüzde
                    43’ünü ve triptofan’ın yüzde 17’sini karşılamış oluruz. Cevizde bulunan kalori oldukça yüksek olduğu
                    için aşırıya
                    kaçmadan tüketilmelidir.
                </p>

                <h4>Kalp ve Damarlara Faydaları</h4>
                <p>
                    Sağlıklı bir yaşamın parçası olarak ceviz yemek kalp için iyidir. Doymamış yağ asitleri ve diğer
                    besinleri içeren ceviz
                    önemli bir aperatif yiyecektir diyebiliriz. Eğer kalp ile ilgili sorununuz varsa doğru tüketilmesi
                    durumunda cevizin
                    faydasını göreceksiniz.
                </p>
                <ol>
                    <li>Düzenli bir şekilde ceviz tüketmek lipoprotein kolesterol seviyesini düşürebilir. Yüksel LDL (
                        Kötü kolestrol) kalp
                        hastalığının başlıca nedenidir, ceviz ise LDL’nin panzehiridir diyebiliriz.</li>
                    <li>Ceviz kalp krizine neden olan kan pıhtılaşmasını riskini azaltabilir. Ayrıca arterlerin sağlıklı
                        kalmasını sağlar.</li>
                    <li>Cevizin içerdiği hem tekli hem çiftli doymuş yağlar yükselen kolestrol seviyesini düşürür.</li>
                    <li>Ceviz Omega 3 yağ asitleri açısından zengin olduğu için tehlikeli kalp ritmlerini engeller, kalp
                        krizi riskini azaltır.</li>
                    <li>Ceviz doyurucu besinler içerdiği için yemek yeme riskini azaltır ve hatta diyabeti yavaşlattığı
                        düşünülmektedir. Bundna
                        dolaylı olarak kalp hastalıkları riskini azaltır.</li>
                    <li>E vitamini arterlerde meydana gelebilecek plak oluşumlarını engeller ve kalp tıkanıklığının
                        oluşmasına izin vermez.</li>
                    <li>Ceviz içerdiği besin ve vitaminler aracılığı ile kanın pıhtılaşmasını engeller ve kan dolaşımın
                        daha iyi olmasını
                        sağlar. Bu durum kalp hastalıklarına yakalanma riskini azaltır.</li>
                </ol>

                <h4>Kolestrole Faydaları</h4>
                <p>Günlük 4-5 tane ceviz tüketiminin kolesterolü düşürür. İyi kolestrol seviyeni yükseltir ve kötü
                    kolesterol yükselmesine
                    engel olur. Bununla birlikte damarların çevresini temizler ve genişlemelerini sağlar, böylece kalp
                    hastalıklarına
                    yakalanma riskini de azaltır.</p>

                <h4>Diyabete Faydaları</h4>
                <p>Diyabet hastalığında karşılaşılan en sık sorun kan şekerinin yükselmesidir. Ceviz ise kan şekerinin
                    makul seviyelerde
                    kalmasına yardımcı olmaktadır. Böylece diyabet hastalarının kalp hastalığına da yakalanma riskini
                    düşürmektedir.</p>

                <h4>Kansere Faydaları</h4>
                <p>Cevizin kanser hastalığını tedavi ettiği söylenemez. Fakat kanser hastalığına neden olan faktörleri
                    ortadan
                    kaldırabiliyor veya hastalığa yakalanma riskini azaltabiliyor. Düzenli bir şekilde ceviz tüketimi
                    dolaylı olarak kansere
                    karşı metabolizmanın direncini arttırıyor.</p>

                <h4>Kemiklere Faydası</h4>
                <p>Bazı uzmanlar cevizde bulunan kalori miktarının kiloya neden olacağını iddia ediyor fakat buna
                    karşılık büyük bir
                    çoğunluk ise aşırı şekilde beslenilmediği sürece cevizin içerdiği kalorinin kemiklerin güçlenmesine
                    katkı sağladığını
                    belirtmektedirler. Ayrıca ceviz tüketiminden sonra meydana gelen kalorinin vücut tarafından
                    depolanmadığı belirtiliyor.</p>

                <h4>Beyine Faydası</h4>
                <p>Ceviz linoleik, alfa linoleik ile birlikte vitamin E ve B6 vitaminlerini içerdiğinden dolayı sinir
                    sitemlerine olumlu
                    yönde etki yapar. Bazı bilim adamları besin maddelerinin hangi organımıza benziyor ise o organa
                    faydalı olduğu yönünde
                    iddiaları var ki ceviz de görüntü olarak beyine benziyor. Fakat cevizin beyine benzemenin ötesinde
                    ciddi anlamda beyine
                    faydaları var. Özellikle stres ile mücadelede antidepresan görevini üstlenen ceviz, uyku sorunu
                    olanlar için de şifadır.
                    Yatmadan önce yenilen ceviz, içerdiği triptofan yardımı ile uyku sorununuzu çözebilir.</p>

                <h4>Cilde Faydaları</h4>
                <p>Omega 3 yağı ve zengin bakır içeren cevizin cilde de çok faydası vardır. Her gün 2-3 ceviz tüketimi
                    cildin elastikliğini
                    arttırır ve ciltteki hücrelerin canlı kalmalarına yardımcı olur.</p>

                <h4>Ek Bilgiler</h4>
                <p>Ceviz, C vitamini, B vitaminleri ( B6 vitamini, tiamin, riboflavin, niasin, pantotenik asit ve
                    folat), vitamin E,
                    kalsiyum, demir, magnezyum gibi mineraller, potasyum, sodyum ve çinko açısından zengin bir
                    kaynaktır.

                    Cevizin ağırlıkça yüzde 65'i yağ yağ ve yüzde 15 proteindir. Çoklu doymamış yağlar açısından daha
                    zengindir (genellikle
                    “iyi” yağlar olarak kabul edilir) ve alfa-linolenik asit (ALA) olarak adlandırılan nispeten yüksek
                    miktarda omega-3 yağ
                    asidi vardır . Ceviz ayrıca özellikle linoleik asit adı verilen bir omega-6 yağ asidi bakımından
                    zengindir.</p>

            </div>
        </div>
    </div>
</div>