<section class="blogdetail-hero">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="blogdetail-hero__slider">
                    <picture>
                        <source media="(min-width:768px)" srcset="/dist/media/img/blog-detail/herodesktopimg.png">
                        <img src="/dist/media/img/slider/blog-detail/heromobileimg.png" alt="Blog Detail Banner"
                            class="img-fluid w-100">
                    </picture>
                </div>

                <div class="blogdetail-hero__body">
                    <div class="blogdetail-hero__nav">
                        <span>Blog</span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83301 12.3334L10.1663 8.00008L5.83301 3.66675" stroke="white" stroke-width="1.2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span>Cevizin Sağlığa Faydaları</span>
                    </div>
                    <p>Cevizin Sağlığa Faydaları</p>
                </div>
            </div>
        </div>
    </div>
</section>