<section class="production-content">
    <div class="production-content__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="production-content__wrapper--1">
                        <div class="row align-items-lg-center">
                            <div class="col-12 col-lg-6 padding-wrapper">
                                <div class="video__wrapper">
                                    <video class="video" muted autoplay loop>
                                        <source src="/dist/media/img/production/productionvideo1.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="production-content__texts">
                                    <div>
                                        <h4>Bahçe yatırımı</h4>
                                        <p>
                                            Ceviz ağacı ilk fidan dikildikten sonra 5 yıl sonra ticari anlamda verim
                                            vermekte ve potansiyel verimine 8. Yılda
                                            ulaşmaktadır. Türkiye şartlarında ceviz yatırımı ortalama olarak ancak
                                            12.
                                            Yılında başa baş miktara ulaşmakta ve kendini
                                            geri ödemektedir.
                                        </p>
                                    </div>

                                    <div>
                                        <h4>Ceviz ağaçlarının bakımı</h4>
                                        <p>
                                            Bahçelerimizde sulama, gübreleme, yabancı ot mücadelesi, budama , bitki
                                            koruma
                                            işlemleri tamamen mekanik ve insan gücüne
                                            dayanmadan yapılmaktadır.
                                        </p>
                                    </div>

                                    <div>
                                        <h4>Hasat</h4>
                                        <p>
                                            Türkiyede ilk defa el değmeden mekanik hasat uygulaması şirketimiz
                                            tarafından
                                            gerçekleştirilmiştir. Bu sayede hasat
                                            olgunluğuna gelen cevizler olumsuz hava şartlarından en az etkilenerek
                                            çok hızlı
                                            bir şekilde hasat edilmekte ve en hızlı
                                            şekilde işlenip kurutularak kalite kayıplarını minimuma indirmektir.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="production-content__wrapper--2">
                        <div class="row align-items-lg-center">
                            <div class="col-12 col-lg-6 padding-wrapper order-1 order-lg-2">
                                <div class="video__wrapper ">
                                    <video class="video" muted autoplay loop>
                                        <source src="/dist/media/img/production/productionvideo2.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 order-2 order-lg-1">
                                <div class="production-content__texts">
                                    <div>
                                        <h4>Kurutma</h4>
                                        <p>
                                            Hasat edilen cevizler yeşil kabuklu olarak hızlı bir şekilde tesise
                                            getirilmekte ve burada ıslak işleme hattından yeşil
                                            kabuğundan ayrılarak yıkama ve kurutma silolarına alınmaktadır, burada
                                            herhangi bir kalite kaybına sebep olmayacak
                                            şekilde ılık hava ile kurutulmakta ve %8 nem oranına indirilmektedir. Bu
                                            sayede cevizin özellikle zararlı organizmalar
                                            tarafından kalite kaybına maruz kalması engellenmekte ve aflatoksin
                                            oluşumu
                                            önlenmektedir.
                                        </p>
                                    </div>
                                    <div>
                                        <h4>Boylama ve paketleme işlemi</h4>
                                        <p>
                                            Aynı ambalaj içindeki cevizlerin benzer boyda olması, çok küçük ve boş
                                            cevizlerin alınımı el değmeden yapılmaktadır. Her
                                            partiden numune alınarak kalite testleri yapılmaktadır. Sonrasında ise
                                            paketleme işlemi yapılmaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="production-content__wrapper--3">
                        <div class="row align-items-lg-center">
                            <div class="col-12 col-lg-6 padding-wrapper">
                                <div class="video__wrapper">
                                    <video class="video" muted autoplay loop>
                                        <source src="/dist/media/img/production/productionvideo3.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="production-content__texts">
                                    <div>
                                        <h4>Sürdürülebilir Tarım</h4>
                                        <p>
                                            Maycev ceviz üretimini yaparken çevreye ve doğaya zarar vermeden, sadece
                                            ağaçlarımızın ihtiyacı olan su, gübre ve bitki
                                            koruma ürünlerini yeterli miktarda ve doğru zamanda yapmaktayız. Bunu
                                            yapabilmek için Ziraat mühendislerinden ve
                                            teknisyenlerimizden oluşan uzman ekibimiz düzenli olarak ağaçlarımızın
                                            besin ve su ihtiyacını çeşitli araçlar ile
                                            ölçmekte ve hastalık etmenlerini ve zararlıları hava durumunda gözeterek
                                            erken uyarı metotlarıyla gözlenerek ve gerekli
                                            durumlarda müdahalelerde bulunmaktadır.Ayrıca bu çerçevede ‘’İyi tarım
                                            uygulamaları ve ISO 9001:2015 Kalite sistemini entegre yönetim sistemi
                                            olarak
                                            uygulamaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>