<section class="production-hero">
    <div class="plusicon__wrapper">
        <a href="#" class="plusicon">
            <span>+</span>
        </a>
    </div>
    <div class="production-hero__wrapper">
        <img src="/dist/media/img/production/productionimg2.png" alt=""
            class="img-fluid w-100 production-hero__wrapper-image">

        <div class="production-hero__heading">
            <h2>El Değmeden,</h2>
            <h3>Özenle Yetiştiriyoruz</h3>
        </div>
    </div>
</section>